body {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  background: #f0f0f0;
}


h1,h2,h3,h4 {
  color: #42280a;
}

h1.tagline{
  font-size: 1.2em;
  font-variant: small-caps;
  margin-left: 220px;
}


header {
  border-top: 3px solid #00a109;
  margin: 0 0 20px;
}

header h2 {
   margin: 0;
   padding: 20px;
}


footer {
  margin-top: 20px;
   text-align: center;
   padding: 10px 0;
}

footer a {
   margin-right: 20px;
}

footer a.last {
   margin: 0;
}


header h2 a:link, header h2 a:visited {
  color: #42280a;
  text-decoration: none;
}

header h2 a:hover, header h2 a:active {
   text-decoration: underline;
}

div.main {
  position: relative;
}

div.post-meta {
  left: 0;
  padding-right: 100px;
  position: absolute;
}

article.with-meta {
   background: #fff;
   -moz-box-shadow: 0 0 2px #888;
   -webkit-box-shadow: 0 0 2px #888;
   box-shadow: 0 0 2px #888;

   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;

}

article {

}

div.post-meta {
  margin-top: 45px;
  -moz-box-shadow: 0 0 2px #888;
  -webkit-box-shadow: 0 0 2px #888;
  box-shadow: 0 0 2px #888;

  border: 1px solid #8F7051;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #D7BEA3;
}


div.post-meta .name {
   font-size: 27px;
   text-align: right;

}

div.post-meta p.about {
   padding: 5px 0 0 79px;
}

div.list-meta {
  padding:5px 10px;
  margin-top: 20px;
}

div.meta.list-meta img {
  margin-top:5px;
}

div.meta img {
   border: 1px solid #8F7051;
   margin: 12px 9px 9px 0;

   -moz-box-shadow: 0 0 2px #8F7051
   -webkit-box-shadow: 0 0 2px #8F7051;
   box-shadow: 0 0 2px #8F7051;

   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;

  float: left;
}

div.post-meta ul.meta {
  clear: both;
}

div.post-meta .author, article .wrapper {
  padding: 15px;
}

article code {
   background: #ddd;
}

article pre code {
   display: block;
   margin: 0 10px;
   padding: 3px 10px;
   overflow: auto;
}

.clearall {
  clear: both;
}


.index ul li {
  list-style: none;
  margin: 10px 0;
  padding-top: 10px;
}

.index ul li:hover .content {
  border:1px solid #ccf;
}
.index ul li .content {
  border:1px solid transparent;
  margin-left: 200px;
  padding: 10px 20px 0 ;
  background: #fff;
  min-height: 100px;
  position: relative;
  z-index: 100;
  -moz-box-shadow: 0 0 2px #888;
  -webkit-box-shadow: 0 0 2px #888;
  box-shadow: 0 0 2px #888;

  -webkit-border-radius: 8px;
  -moz-border-radius: 0px;
  border-radius: 8px;
}
.index ul li .meta .when {
   font-style: oblique;
}
.index ul li .meta .author {
  font-size: 125%;
}
.index ul li .meta {
  float: left;
  width: 200px;
  position: relative;
}

.index ul li a:hover{
  color:#06c;
}
