<!doctype html>
<html lang="en" class="no-js">
  <head>
    <title>{{ page.title }}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if page.synopsis %}
    <meta name="description" content="{{ page.synopsis }}">
    {% else %}
    <meta name="description" content="Writings from the AboutUs.org development team">
    {% endif %}
    <meta name="author" content="AboutUs.org development team">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="js/libs/modernizr-1.7.min.js"></script>

    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection"><![endif]-->

    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection">

    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <header>
      <div class="container">
        <h2>
          <a href="/">AboutUs.org Developer Blog</a>
        </h2>
      </div>
    </header>

    <div class="container main">
        {% if page.author %}
        <div class="meta span-7">
          <div class="author">{% include author.html %}</div>
        </div>
        <article class="with-meta last span-17 push-7">
          <div class="wrapper">
            <h1>{{ page.title }}</h1>
            <h4 class="when">posted on {{ page.date | date_to_string }}</h4>

            {{ content }}
          </div>
        </article>
        {% else %}
        <article>
          <div class="wrapper">
            {{ content }}
          </div>
        </article>
        {% endif %}

        <div class="clearfix"></div>
    </div>

    <footer>
      <div class="container">
        <div class="copyright">
          &copy; 2011 AboutUs Inc.
        </div>
        <a href="http://www.aboutus.org">site</a>
        <a href="http://github.com/AboutUs">projects</a>
        <a class="last" href="http://feeds.feedburner.com/DevAboutusorg">feed</a>

      </div>
    </footer>

    <script>
      if(document.location.host == 'dev.aboutus.org'){
        var _gaq=[['_setAccount','UA-435152-12'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
      }
    </script>
  </body>
</html>
